* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container-desk {
    display: none;
}

h1 {
    margin-top: 3.8rem;
    color: teal;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
}
/* Imagenes mobile */
.imagen-principal {
    display: flex;
    justify-content: center;
}
img {
    margin-top: 0.5rem;
    width: 305px;
    height: auto;
}
/* Cards */
.container-titulo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.link-card {
    text-decoration: none;
    color: #fff;
}
.link-card:hover {
    color: rgb(58, 57, 57);
}
.card {
    border: none;
}
.card_title {
    font-size: 3rem;
    text-align: center;
}
.nombre {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}
.profesion {
    margin-top: 0.8rem;
    text-align: center;
    font-size: 1rem;
}
.universidad {
    text-align: center;
    margin: 0.8rem;
    font-size: 0.8rem;
    color: rgb(100, 100, 100);
}
p {
    margin: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
}

/* Servicios */
.servicios {
    text-align: center;
}

/* Contacto */
.container-contacto {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.span-contacto {
    margin: 1rem;
    font-size: 1.2rem;
}

/* Footer */
.footer {
    width: 100%;
    height: 4rem;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo-footer {
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.7rem;
}
.icono-insta, .icono-face {
    font-size: 1.8rem;
    margin: 0.5rem;
    color: gray;
}
.icono-whapp {
    margin: 0.5rem;
    color: gray;
    font-size: 1.8rem;
}
.icono-insta:focus, .icono-face:focus, .icono-whapp:focus {
    color: rgba(128, 128, 128, 0.438);
}

@media (min-width: 640px) {

    .seccion-mobile {
        display: none;
    }
    .container-desk {
        display: inline;
        background-attachment: fixed;
    }
    .imagen-desk {
        width: 1360px;
        height: auto;     
    }
    .nombre {
        margin-top: 1.5rem;
        font-size: 2.2rem;
    }
    .prosefion {
        font-size: 1.4rem;
    }
    .universidad {
        font-size: 1rem;
    }
    .parrafo-footer {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 0.9rem;
    }
    .icono-insta, .icono-face {
        margin: 0.5rem;
        color: gray;
        font-size: 1.8rem;
    }
    .icono-insta:hover, .icono-face:hover, .icono-whapp:hover {
        color: rgba(128, 128, 128, 0.438);
    }
    .seccion-contacto {
        min-height: 100vh;
    }
}